{% extends 'templates/base.html' %}

{% block title %}About Me | {% endblock %}

{% block content %}
	<div class="container">
		<div class="flexbox-center">
			<div class="bg-about">
				<div class="info">
					<p>Jeanne Marais (now Pretorius) spent her childhood in a loving and supportive home, where she began developing into the dynamic, multi-talented, self-taught artist she is today.</p>
				    <p>She is well-known for her exclusive and unique female figure studies, and is equally adept at various other themes. She often makes use of strong, deep colours, as seen in her dramatic landscapes and city scenes. She has been working with oils, using a palette knife or brush, from the beginning of her career 12 years ago.</p>
	                <p>Jeanne lives in Centurion, South Africa, with her husband Louis and their 2 daughters.</p>
	                <p>“The real advantage of my career as an artist is being in the fortunate position to do what I love for a living!”</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}