{% extends 'templates/base.html' %}

{% block title %}Contact Me | {% endblock %}

{% block content %}
<div class="container">
	<div class="flexbox-center">
		<table cellspacing="0" cellpadding="0" border="0">
			<tbody>
			<tr>
				<td><img width="266" height="197" alt="" src="/assets/img/contactme/contactme_01.jpg"></td>
				<td><img width="280" height="197" alt="" src="/assets/img/contactme/contactme_02.jpg"></td>
				<td><img width="299" height="197" alt="" src="/assets/img/contactme/contactme_03.jpg"></td>
			</tr>
			<tr>
				<td><img width="266" height="251" alt="" src="/assets/img/contactme/contactme_04.jpg"></td>
				<td><img width="280" height="251" alt="" src="/assets/img/contactme/contactme_05.jpg"></td>
				<td><img width="299" height="251" alt="" src="/assets/img/contactme/contactme_06.jpg"></td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="row">

		<div class="col-sm-7 col-sm-offset-1">
			<h4>Galleries:</h4>
			<div class="row">
				<div class="col-sm-6">
					<dl>
						<dt>ELNO Art Gallery (Centurion)</dt>
						<dd><em>Ben</em> 087 805 6965/6/7</dd>
						<br/>
						<dt>Lemon Tree (Hartebeespoort)</dt>
						<dd><em>Marina</em> 078 011 7877</dd>
						<br/>
						<dt><a href="bloudonki.co.za" target="_new" rel="nofollow">Blou Donki (Clarence)</a></dt>
						<dd>058 256 1757</dd>
						<br/>
					</dl>
				</div>
				<div class="col-sm-6">
					<dl>
						<dt>Art Avenue (East Rand Mall)</dt>
						<dd><em>Helen</em> 011 823 2992 / 083 677 0084</dd>
						<br/>
						<dt>Jukosa Art</dt>
						<dd><em>Piet Minnaar</em> 083 338 772</dd>
						<br/>
						<dt><a href="portchiegallery.com" target="_new" rel="nofollow">Portchie Gallery</a></dt>
						<dd><em>Surona</em> 083 566 1042</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="col-sm-3 text-right">
			<h4>jeanne@jeannemarais.co.za</h4>
			<h4>084 941 3217</h4>
		</div>
	</div>


</div>
{% endblock %}